<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<!-- Datepicker -->
<link href='bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' rel='stylesheet' type='text/css'>
<script src='bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' type='text/javascript'></script>
<!------ Include the above in your HEAD tag ---------->
<script>
    var stateObject = {
      "TN": {
        "Memphis": ["38016", "38017", "38105"]  
      },
      "MS": {
        "Olive Branch": ["38654", "35888", "38777"]
      }
    }
    window.onload = function() {
      var stateSel = document.getElementById("state");
      var citySel = document.getElementById("city");
      var zipSel = document.getElementById("zip");
      for (var x in stateObject) {
        stateSel.options[stateSel.options.length] = new Option(x, x);
      }
      stateSel.onchange = function() {
        //empty Chapters- and Topics- dropdowns
        citySel.length = 1;
        zipSel.length = 1;
        //display correct values
        for (var y in stateObject[this.value]) {
          citySel.options[citySel.options.length] = new Option(y, y);
        }
      }
      citySel.onchange = function() {
        //empty Chapters dropdown
        zipSel.length = 1;
        //display correct values
        var z = stateObject[stateSel.value][this.value];
        for (var i = 0; i < z.length; i++) {
          zipSel.options[zipSel.options.length] = new Option(z[i], z[i]);
        }
      }
    }
    </script>

<script type="text/javascript">
    $(document).ready(function(){
     
      $('#datepicker').datepicker({
        format: "yy-mm-dd",
        startDate: new Date('2019-12-5'),
        endDate: new Date('2020-7-12')
      });
    
    });
    </script>

<style type="text/css">
    body { background: gray !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
  </style>
<ul class="list-group shadow">
  <% for (const event of model) { %>
<div class="container" id="wrap">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/event" method="post" accept-charset="utf-8" class="form" data-toggle="validator" role="form" >   <legend>Event</legend>
                <div class="form-group">
                    <input type="text" name="event" value=<%= event.Name %> class="form-control input-lg" placeholder="Event" maxlength="50"  required /> 
                    <div class="help-block with-errors"></div>
                </div>
                <input type="hidden" id="eventId" name="eventId" value="<%= event.Id %>">  
                <div class="form-group">
                    <input type="text" name="description" value="<%= event.Description %>" class="form-control input-lg" placeholder="Description" maxlength="500"  p required /> 
                    <div class="help-block with-errors"></div>
                </div>
                <input type="text" name="totalpositions" value="<%= event.TotalPositions %>" class="form-control input-lg" placeholder="Total No Of Positions" maxlength="3"  pattern="[0-9]*" required />
                
                <div class='form-group'>
 
                    <input type='text' class="form-control input-lg" id='datepicker' value="<%= event.Date %>" name="date" placeholder='Date' style='width: 300px;'  >
                   
                   </div>
                
                
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="begintime" class="form-control input-lg" value="<%= event.BeginTime %>" placeholder="Begin Time"  />                        </div>
                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="endtime" class="form-control input-lg" value="<%= event.EndTime %>" placeholder="End Time"  />                        </div>
                </div>
                <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="contactfirstname"  class="form-control input-lg" placeholder="Contact First Name" value=<%= event.ContactFirstName %> maxlength="30"  pattern="[A-Za-z]*" required  />                        </div>
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="contactlastname" value="<%= event.ContactLastName %>" class="form-control input-lg" placeholder="Contact Last Name" maxlength="30"  pattern="[A-Za-z]*" required  />                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <input type="email" name="contactemail" value="<%= event.ContactEmailAddress %>" class="form-control input-lg" maxlength="100" placeholder="Contact Email"  />
                        <div class="help-block with-errors"></div>
                    </div>
                                    
                    <input type="address1" name="address1" value="<%= event.Address1 %>" maxlength="100" class="form-control input-lg" placeholder="Address" required />
                    <input type="address2" name="address2" value="<%= event.Address2 %>" maxlength="100" class="form-control input-lg" placeholder="Apartment, studio, or floor"  /> 
 
                     <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <label for="city">City</label>
                            <select name="city" class = "form-control input-lg" placeholder="City" id="city" 
                                option value="" selected="selected">Please select State first</option> </select>                        </div>
                        <div class="col-xs-4 col-md-4">
                            <label for="state">State</label>
                            <select name="state" class = "form-control input-lg" id="state"
                                option value="TN" selected="selected">Select state</option>
                            </select>                       
                         </div>
                        <div class="col-xs-4 col-md-4">
                            <label for="zip">Zip</label>
                            <select name="zip" class = "form-control input-lg" id="zip"
                                option value="" selected="selected">Select subject</option>
                            </select>           
         
                        </div>
                        <a href="/subscribed-volunteers?id=<%= event.Id %>">Volunteers</a>
                    </div>
  
                   
                    <br />
                    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                        Update</button>
                        <div class="col">
                            <!-- Simple link -->
                            <a href="/view-events">Back to Events</a>
                          </div>
            </form>          
          </div>
</div>            
</div>
<% } %>
        </ul>
</div>
